@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

header {
    background-color: rgb(230, 230, 230);
    padding: 0 1rem;

    .navbar__brand {
        font-size: 1.5rem;
        font-family: 'Prompt', sans-serif;
        text-transform: uppercase;
        color: #008000;
        text-decoration: none;
    }
}

main {
    flex: 1;
    @include flexbox(flex, column, center, center);

    .calc {
        display: grid;
        grid-template-rows: 50% 10% 40%;
        width: 600px;
        height: 550px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 10px;
           
        .section--top {
        }

        .section--middle {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;

            .input {
                width: 100%;
                height: 100%;
                font-size: 1rem;
                padding-left: 1.5rem;

                &:focus {
                    outline: none;
                    border: 1px solid green;
                }
                
            }
        }

        .section--bottom {
            display: grid;
            grid-template-rows: 20% 80%;
            background-color: rgb(230, 230, 230);

            .row--top {
                display: grid;
                grid-template-columns: 30% 50% 20%;

                .column--left {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    padding: 0 10px;

                    .button--main, .button--abc, .button--func {
                        margin: 5px;
                        border: 0;
                        background-color: rgb(230, 230, 230);
                        cursor: pointer;
                        font-size: 1rem;

                        &:hover {
                            border-bottom: 2px solid green;
                        }
                    }

                    .current {
                        border-bottom: 2px solid green;
                    }
                }

                .column--middle {}

                .column--right {}
            }

            .row--bottom {

                .btn {
                    margin: 2px;
                    border-radius: 5%;
                    font-size: 1rem;
                    background-color: white;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(0, 128, 0, .5);
                    }

                }

                .main {
                    display: grid;
                    grid-template-columns: 30% 50% 20%;
                    height: 100%;
                    width: 100%;

                    .main--left {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        padding: 5px 10px;
                    }

                    .main--middle {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        padding: 5px 10px;
                    }

                    .main--right {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        padding: 5px 10px;
                    }
                }

                .abc {
                    display: none;
                    grid-template-rows: repeat(4, 1fr);
                    height: 100%;
                    width: 100%;
                    padding: 5px 10px;

                    .abc--top {
                        display: grid;
                        grid-template-columns: repeat(10, 1fr);
                    }

                    .abc--upper-middle {
                        display: grid;
                        grid-template-columns: repeat(9, 1fr);
                    }

                    .abc--lower-middle {
                        display: grid;
                        grid-template-columns: repeat(10, 1fr);
                    }

                    .abc--bottom {
                        display: grid;
                        grid-template-columns: repeat(9, 1fr);
                        padding: 2.5px;
                    }
                }

                .func {
                    display: none;
                    grid-template-columns: 1fr 1fr;
                    height: 100%;
                    width: 100%;

                    .func--left {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        padding : 5px 10px;
                    }

                    .func--right {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(4, 1fr);
                        padding : 5px 10px;
                    }

                    
                }
            }
            
        }
    }
}

footer {
    @include flexbox(flex, row, space-between, center);
    padding: .5rem 1rem;
    background-color: rgb(230, 230, 230);
    color: black;
    p {
        span {
            font-family: 'Prompt', sans-serif;
            text-transform: uppercase;
            color: green;
        }
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
        img {
            width: 25px;
            height: 25px;

        }
    }

}